.signUpInput[type="text"],
.signUpInput[type="password"],
.signUpButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signUpButton {
    background-color: #47a7f5;
    color: #fff;
    border: none;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}

.signUpButton:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.signUpButton:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.googleButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}

.googleIcon {
    height: 30px;
    margin-right: 10px;
}

.divider {
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: rgb(144, 135, 135);
    margin: 5px;
}

.outer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 500px;
    margin-top: 100px;
    margin-right: 10px;
}

.container {
    flex: 1;
    max-width: 500px;
    margin-top: 120px;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}